rules_version = '2';

service cloud.firestore {
  function isCasalUser() {
    return request.auth != null
      && request.auth.token.email in [
        "marcelohenriquedejesus4@gmail.com",
        "email-da-esposa@gmail.com"
      ];
  }

  match /databases/{database}/documents {
    match /families/{familyId}/{document=**} {
      allow read, write: if familyId == "casal-principal" && isCasalUser();
    }
  }
}
